<div class="min-h-screen flex flex-col items-start">
    <main class="container flex flex-col justify-center mx-auto py-5 px-10" id="bg-custom">
        <router-outlet></router-outlet>
    </main>
    <p class="text-slate-500 font-semibold text-center w-full mt-10 mb-4">• Encuentra a los frontonistas por nombre y nivel de juego.</p>
    <p class="text-slate-500 font-semibold text-center w-full mb-4">• Reconoce a los jugadores por su Imagen.</p>
    <p class="text-slate-500 font-semibold text-center w-full mb-4">• Invítalos a jugar un partido en tu cancha.</p>
    <p class="text-slate-500 font-semibold text-center w-full">• Promueve tu negocio entre los miembros del Club.</p>
</div>