<landing-form-container title="EL CLUB DEL FRONTON">
    <div class="mb-6">
        <label for="email" class="block mb-2 text-lg font-bold text-gray-900">Email:</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div> 
    <div class="mb-6">
        <label for="password" class="block mb-2 text-lg font-bold text-gray-900">Contraseña:</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div> 
    <div class="flex">
        <div class="flex flex-wrap">
            <a routerLink="/register" class="me-5 mb-5 break-keep">
                • Nuevo Registro
            </a>
            <a href="">
                • ¿Perdi&oacute; su contraseña?
            </a>
        </div>
        <button routerLink="/app/my-profile" type="button" class="text-white bg-primary focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ms-auto mb-0">
            Acceder
        </button>
    </div>
</landing-form-container>